{% extends 'users/base.html' %}

{% block content %}
<div class="card rounded shadow-sm login_card">

  <h5 class="card-header text-center py-4">
    <strong>Change password</strong>
  </h5>

  <div class="card-body px-lg-5 pt-0">
    {% if validlink %}
    <form method="post">
      {% csrf_token %}
      <div class="form-group">
        {{form.new_password1.label_tag}}
        {{form.new_password1}}
        <small class="form-text text-muted mb-2">
          {{form.new_password1.help_text}}
        </small>
      </div>
      <div class="form-group">
        {{form.new_password2.label_tag}}
        {{form.new_password2}}
        <small class="form-text text-muted mb-2">
          {{form.new_password2.help_text}}
        </small>
      </div>
      <!--{{ form.as_p }}-->
      <button class="btn btn-info rounded my-4"
              type="submit">Change password</button>
    </form>
    {% else %}
    <p class="form-text text-muted mb-3 mt-3">
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </p>
    {% endif %}
  </div>

</div>
{% endblock %}

{% block scripts %}
{{block.super}}
<script type="text/javascript">
  $(document).ready(function () {
      $('#id_new_password1').addClass('form-control');
      $('#id_new_password2').addClass('form-control');
  })
</script>
{% endblock scripts %}