{% extends 'users/base.html' %}

{% block content %}
<div class="card rounded shadow-sm login_card">

  <h5 class="card-header text-center py-4">
    <strong>Forgot password</strong>
  </h5>

  <div class="card-body px-lg-5 pt-0">
    <form style="color:#757575;" method="post">
      {% csrf_token %}
      <div class="form-group">
        {{form.email.label_tag}}
        {{form.email}}
        <small class="form-text text-muted mb-4">
          Forgotten your password? Enter your your email address, and we'll email instructions for setting new one.
        </small>
      </div>

      <button class="btn btn-info rounded my-4"
              type="submit">Request Password Reset</button>
    </form>
  </div>

</div>
{% endblock content %}

{% block scripts %}
{{block.super}}
<script type="text/javascript">
  $(function (jquery) {
      jquery('#id_email').addClass('form-control');
  }($));
</script>
{% endblock scripts %}